.header h1{
  color:teal;
  font-family: Georgia, Times, "Times New Roman", serif;
}

.teal {
  color: teal;
  font-family: Georgia, Times, "Times New Roman", serif;
}

#big-font {
  font-size: 40px;
}

.background-blue {
  background-color: rgb(239, 243, 243);
}

/* Giving our navbar some padding and a background color */
.navbar {
  padding: 10px;
  background: rgb(239, 243, 243);
}

.header h2{
  color: teal;
}

#logo {
  height: 60px;
  padding-top: 20px;
  padding-bottom: 5px;
 
  /* Positioning */
  margin-left: 70px;
  font-family: Georgia, Times, "Times New Roman", serif;
 
  /* Typography */
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background: teal;
}

.mycontainer {
  padding-right: 15px;
  padding-left: 15px;
}

